/* make a gradient background with a blur effect */
html, body{
    height: 110%;
    background-image: linear-gradient(white,#dad7c0c2, rgb(61, 56, 56));
}

.search-container{
    max-width: 100%;
    margin-bottom: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.search-bar{
    padding: 6px;
    margin-top: 4px;
    font-size: 17px;
    border: none;
    text-align: center;
    background-color: transparent;
}

@media only screen and (min-width: 600px) {
    .search-bar {
        font-size: 30px;
        margin-top: 2px;
    }
  }

.search-btn{
    float: right;
    padding: 6px 10px;
    margin-top: 4px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .search-btn {
        font-size: 30px;
        margin-top: 2px;
    }
  }

.weather-container{
    width: 60%;
    height: 110%;
    margin-top: 50px;
    margin: auto;

}

.weather-content-container{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(2, 60%);
    grid-row-gap: 10px;
    margin-top: 30px;
    text-align: center;
}

/* weather data content 1 */
.weather-content-1{
    border-bottom: black solid 3px;
    border-radius: 10px;
}

.location-date-section{
    display: flex;
    justify-content: space-between;
}

.WD-location{
    font-size: 1.5rem;
    font-weight: 700;
}

.WD-date{
    font-size: 1.5rem;
    font-weight: 700;
}

.weather-info-temp-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.weather-info-seaction{
    display: flex;
    justify-content: center;
}

.WD-img{
    max-width: 90%;
}

.temp-section{
    display: flex;
    justify-content: center;
    margin-left: 10%;
}

.WD-temp-converter{
    cursor: pointer;
    border: none;
    border-radius: 100%;
    box-shadow: 0 8px #999;
    width: 60%;
    height: 70%;
    font-size: 2rem;
    font-weight: 600;
    background-color: #D3D3D3;
    margin-left: 25px;
    margin-top: 10px;
}

.WD-temp-converter:active{
    background-color: #818589;
    box-shadow: 0 0px #666;
    transform: translateY(5px);
}

.temp-grid-container{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    margin-right: 10%;
}

.WD-temp{
    grid-area: 1/1/4/3;
    border-right: black solid 2px;
    font-size: 1.5rem;
    font-weight: 700;
    padding-right: 25px;
}

.WD-temp-max{
    border-bottom: black solid 1px;
    font-size: 1rem;
    font-weight: 600;
}

.WD-temp-min{
    border-top: black solid 1px;
    font-size: 1rem;
    font-weight: 600;
}

.temp-grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.WD-main{
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.WD-feels-like{
    font-size: 1rem;
    font-weight: 700;
}
/* weather data content 2 */
.weather-content-2{
    display: flex;
    justify-content: center;
    align-items: center;

}

.WD-humidity-image{
    width: 50%;
    border: 2px solid black;
    border-radius: 50%;
}

.WD-windSpeed-image{
    width: 50%;
    border: 2px solid black;
    border-radius: 50%;
}

.WD-air-pressure-image{
    width: 50%;
    border: 2px solid black;
    border-radius: 50%;
}
/* loading spinner */
.spinner-container{
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* error container */
.error-container{
    text-align: center;
}

.error-container header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.error-x{
    transform: translateY(5px);
}